
.accordion {
  background-color: lightseagreen;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  border: 1px solid white;
}

.active, .accordion:hover{
    background-color: rgb(18, 126, 121);
    color: white;
}

.panel{
    padding: 0 2vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

